<footer class="bg-gray-900 mt-8 py-4 h-20 absolute bottom-0 w-full">
    <a href="https://github.com/lucianomazzuca" target="_blank" class="">
      <div class="wrapper flex items-center h-full hover:text-indigo-500">
        <img src="/images/github-logo.png" alt="" class="h-full">
        <span class="text-white ml-4 text-lg">lucianomazzuca</span>
      </div>
    </a>
</footer>

  <script src="javascripts/dropdown.js"></script>