<header class=" bg-indigo-500 text-white py-4">
  <div class="wrapper">
      <nav class="flex flex-wrap justify-between items-center">
          <div class="text-xl">
              Inventory App
          </div>
          <svg id="dropdown" class="w-6 h-6 cursor-pointer md:hidden" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
          <ul id="links" class="hidden text-base min-w-full text-right md:flex md:min-w-0 space-x-6">
              <li><a href="/games">Games</a></li>
              <li><a href="/developers">Developers</a></li>
              <li><a href="/genres">Genres</a></li>
          </ul>
      </nav>
  </div>
</header>