<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <%- include('partials/nav'); %>   

    
    <h1><%= title %></h1>
    
    <form action="/games/add" method="POST">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title">
        </div>
        <div class="form-group">
            <label for="description">description</label>
            <textarea name="description" id="description" cols="30" rows="10"></textarea>
        </div>
        <div class="form-group">
            <label for="price">price</label>
            <input type="text" name="price">
        </div>
        <div class="form-group">
            <label for="release">release</label>
            <input type="text" name="release">
        </div>
        <div class="form-group">
            <label for="stock">stock</label>
            <input type="text" name="stock">
        </div>
        <div class="form-group">
            <label for="genre">genre</label>
            <input type="text" name="genre">
        </div>
        <div class="form-group">
            <label for="developer">developer</label>
            <input type="text" name="developer">
        </div>
    </form>

  </body>
</html>
