<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/stylesheets/tailwind.css">
</head>
<body class="bg-gray-100">

    <div class="">
            <header class=" bg-indigo-500 text-white py-4">
                <div class="wrapper">
                    <nav class="flex flex-wrap justify-between items-center">
                        <div class="text-xl">
                            Inventory App
                        </div>
                        <svg id="dropdown" class="w-6 h-6 cursor-pointer md:hidden" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                        </svg>
                        <ul id="links" class="hidden min-w-full text-right md:flex md:min-w-0 space-x-6">
                            <li>Games</li>
                            <li>Developers</li>
                            <li>Genres</li>
                        </ul>
                    </nav>
                </div>
            </header>

            <main class="wrapper">
                <h1 class="my-4 text-xl">Games</h1>

                <div class="grid grid-cols-fit-items gap-3">
                    <!-- Game Cards go here -->
                    <div class="bg-white rounded shadow-md max-w-4xl cursor hover:shadow-lg">
                        <img src="../public/images/cyberpunk.jpg" alt="" srcset="" class="w-full h-48">
                        <div class="px-4 py-2 flex flex-col">
                            <span class="font-semibold text-lg">Cyberpunk 2077</span>
                            <span class=" text-lg ">$60</span>
                            <div class="my-4">
                                <a href="" class=" bg-indigo-500 text-white rounded px-4 py-2 hover:bg-indigo-400">Details</a>
                            </div>
                        </div>
                    </div>

                    <div class="bg-white rounded shadow-md max-w-4xl hover:shadow-lg">
                        <img src="../public/images/cyberpunk.jpg" alt="" srcset="" class="w-full h-48">
                        <div class="px-4 py-2 flex flex-col">
                            <span class="font-semibold text-lg">Cyberpunk 2077</span>
                            <span class=" text-lg ">$60</span>
                            <div class="my-4">
                                <a href="" class=" bg-indigo-500 text-white rounded px-4 py-2 hover:bg-indigo-400">Details</a>
                            </div>
                        </div>
                    </div>

                    <div class="bg-white rounded shadow-md max-w-4xl hover:shadow-lg">
                        <img src="../public/images/cyberpunk.jpg" alt="" srcset="" class="w-full h-48">
                        <div class="px-4 py-2 flex flex-col">
                            <span class="font-semibold text-lg">Cyberpunk 2077</span>
                            <span class=" text-lg ">$60</span>
                            <div class="my-4">
                                <a href="" class=" bg-indigo-500 text-white rounded px-4 py-2 hover:bg-indigo-400">Details</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="bg-white rounded shadow-md max-w-4xl hover:shadow-lg">
                        <img src="../public/images/cyberpunk.jpg" alt="" srcset="" class="w-full h-48">
                        <div class="px-4 py-2 flex flex-col">
                            <span class="font-semibold text-lg">Cyberpunk 2077</span>
                            <span class=" text-lg ">$60</span>
                            <div class="my-4">
                                <a href="" class=" bg-indigo-500 text-white rounded px-4 py-2 hover:bg-indigo-400">Details</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="bg-white rounded shadow-md max-w-4xl hover:shadow-lg">
                        <img src="../public/images/cyberpunk.jpg" alt="" srcset="" class="w-full h-48">
                        <div class="px-4 py-2 flex flex-col">
                            <span class="font-semibold text-lg">Cyberpunk 2077</span>
                            <span class=" text-lg ">$60</span>
                            <div class="my-4">
                                <a href="" class=" bg-indigo-500 text-white rounded px-4 py-2 hover:bg-indigo-400">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </main>

    </div>
    
    <script src="../public/javascripts/dropdown.js"></script>
</body>
</html>