body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

input {
  height: 25px;
  margin-top: 5px;
}

textarea, select {
  margin-top: 5px;
  min-height: 30px;
}

.select-group {
  display: flex;
  align-items: center;
}

.select-group > label {
  margin-right: 15px;
}
